:root {
    --header-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --btn-color: #FFFFFF;
    }

body {
    font-family: "Roboto", "sans-serif";
    color: var(--header-color);
}

/* Header*/

.header {
    background-color: var(--btn-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.logo {
    font-family: "Raleway", "sans-serif";
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-dark-text {
    color: #000000;
}
.nav-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
}
.current {
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.nav-contact {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-color);
}
.nav-contact:hover,
.nav-contact:focus {
    color: var(--accent-color);
}
/* Section Name */
.name {
    background-color: #2F303A;
}
.name-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--btn-color);
}
.name-btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--btn-color);
background-color: var(--accent-color);
cursor: pointer;
}
.name-btn:hover, .name-btn:focus {
   background-color: #188CE8;
}

/* Section principles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.principles-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
}
.principles-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

/* Section about */
.about-title {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

/* Team */
.team {
    background-color: #F5F4FA;;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}
.team-position { 
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
}

/* Footer */
.footer {
background-color: #2F303A;
;
}
.logo-light-text {
    color: var(--btn-color);
}
.address {
font-style: normal;
}
.adress-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--btn-color);
}
.adress-contact {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
.filter-btn-main {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--btn-color);
background: var(--accent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
cursor: pointer;
}
.filter-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
background-color: #F5F4FA;
cursor: pointer;
}
.filter-btn-main:hover,
.filter-btn-main:focus,
.filter-btn:hover,
.filter-btn:focus {
background-color: var(--accent-color);
color: var(--btn-color);
}
.projects-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}
.projects-text {  
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--header-color);
}